{% extends "base.html" %}
{% block title%} Query Page {% endblock %}
{% block content %}
<form action="{{url_for ('handle_data')}}" method="POST">
    <!-- <p>You have selected Model No. {{modelno}}</p> -->
    <label for="question" style="font-size: 25px;">Ask Question</label>
    <br>
    <br>
    <input type="text"  id="userquestion" name = "question" placeholder="What is Ice Plus Function ?" style="
    width: 500px;
    height: 25px;">
    <br>
    <br>
  <button type="submit" style="height: 50px; font-weight: bold; width: 100px;">Submit</button>
</form>
{% endblock %}