<!DOCTYPE html>
<html>
<script>
var ts_L1_q_washer = ["","May I know the reasons of FROZEN ERROR for my washer WM4500H*A?",
						"How do i fix OE error?",
						"What could be the cause of the problem Spraying?",
						"How do i fix Clicking noise?",
						"There is spraying sound. Does it indicate anything ?",
						"What should I do for thumping sound?",
						"I hear water sloshing sound. How can i solve?",
						"My washer makes humming noise. What do i do?",
						"I am having vibrating noise problem. What may be the cause?",
						"I hear Squeaking noise. what are the causes and solutions?",
						"Water is leaking during washing. How to fix?",
						"Let me know the causes of Excessive sudsing",
						"My washer is not turning on",
						"My washer is not operating. How can i solve?"];
var ts_L2_q_washer = ["Why the control lock function is on?",
						"What causes the washer to show FE error and what is the solution?",
						"Due to cleaning water lines my inlet filters got clogged,how do I fix?",
						"How do I resolve if the water level sensor is not working?",
						"Drain pipe is damaged. How to fix?",
						"There is a click sound when door secures",
						"My washer takes too long time to wash.How can i fix?",
						"The washer is always off, no matter what I do, why is this?",
						"what is the solution if too much detergent dispensed?",
						"stale smell in the washer, what is causing this?",
						"How can i fix water supply pressure is very high ?",
						"How to fix if water inlet hoses are pinched?",
						"water supply pressure is very high. What should i do ?",
						"How do I know if the detergent is little too much ?",
						"why my water level sensor is not working correctly?"];
var ts_L1_q_refrigerator = ["what causes popping noise in LRFDS3006*?",
						"why am I hearing clicking sound?",
						"Why do I hear whooshing sound in my fridge?",
						"Why is my fridge making a gurgling sound?",
						"Why there is loud rattling noise coming from my refrigerator?",
						"Food is freezing in the refrigerator compartment. why?",
						"Why water is dispensing slowly?",
						"Why doors will not close correctly or pop open?",
						"Why will the doors not close correctly?"];
var ts_L2_q_refrigerator = ["Dispenser is not enabled for water dispensing how to fix it ?",
						"How to pack the food inside the fridge to avoid moisture in it ?",
						"How do I get rid of stickiness in my gaskets ?",
						"The floor is not even, in what way should I place the fridge?",
						"The LED light is not turning on. What are the causes and solutions?"];
var ts_L1_q_ac = ["What could be the reason of AC LW1517IVSM generating gurgling noise?",
						"There is some noise when unit is cooling, how to resolve?",
						"There is some swishing noise from the Air Conditioner, how to reduce this?",
						"There is some noise when the air conditioner is cooling, what is the cause, and can you help me to resolve?",
						"Loud chatter from AC. What do I do?",
						"There is some pinging noise from the AC, how to reduce this?",
						"Why is air moving loudly in my AC?",
						"What could be the reason of Hissing noise?",
						"Can I know why my AC starts vibrating?"];
var ts_L2_q_ac = ["Why there is some vibrating sounds when the unit is cooling?",
						"I can hear some swishing sound when the water is hitting the condenser, help me to troubleshoot.",
						"What should I do if my AC has restricted air flow?",
						"My room is very hot and I don't feel cool air. What should I do?",
						"What do I do if ice is present on the cooling coils?",
						"AC is stopped working when change from heat to cool mode. How to fix it?"];
var ts_q_vacuum = ["My vacuum cleaner VAC900A* gives me a hot air, Why so?",
					"Hot air is coming from the product body. Let me know how to fix it.",
					"There is some hot air is coming from the product, what is the reason for that? Tell me your way out",
					"What could be the cause of the odd odour problem?",
					"What do I do for the problem strange odor?",
					"I recently bought my vacuum cleaner, which gives a weird smell. What could be the fix?",
					"What are the origins of the odd smell and the solutions?",
					"My product VAC900A* makes too much noise. What could be the fix?",
					"Appliance gives too much noise in turbo mode. What could be the solution?"];
var ts_q_oven = ["what causes arching in microwave oven LMV2031X*?",
					"how to fix arcing in oven?",
					"what causing the sparking in microwave oven and how to fix it?",
					"what should I do, the metal rack is improperly installed?",
					"My Oven light doesn't work, tell me ways to fix it.",
					"I want to know why my oven lights are not working.",
					"In the oven, the food is undercooked, can you tell me why?",
					"Everything in my oven is undercooked, Please help?"];
var category_flag = "L1";
var category_value = 1;
var use_info = "1";
var washing_machine_models = ["", "WM4500H*A"];
var refrigerator_models = ["", "LRFDS3006*", "LRFVS3006*", "LRFVC2406*",
						"LRFXC2406*", "LRFDS3016*", "LRFXC2416*", "LRFDC2406*", "SRFVC2406*"]
var ac_models = ["", "LW1517IVSM", "LP0820WSR", "LP1020WSR", "LP1220GSR", "LP1420BSR"];
var product_type = null;
var prev_modelno = null;
var modelno_changed = false;

function draw() {
	/*if((category_value == 1)) {
		flag = validate_flags()
		if(flag <= 0) {
			document.getElementById("display").innerHTML = "Choose Anyone Flag........";
			return;
		}
	}*/
	console.log('Ask called:');
	var xhr = new XMLHttpRequest();
	var url = "/ker_ts";
	var message = document.getElementById("user_input").value;
	/*var model_no = document.getElementById('select_model_no').value;
	if ((model_no == null || model_no == "")) {
	  //alert("Please select model number");
	  return false;
	}*/
	console.log('User question:' + message);
	var data = JSON.stringify({
		"question": message,
		"model": null,
		"product_type": null,
		"ques_topic": 'TROUBLESHOOTING',
		"use_info": "1",
		"question_level": null,
		"model_change": false
	});
	console.log("json : " + data);
	document.getElementById("display").innerHTML = "Processing........";
	xhr.open("POST", url, true);
	xhr.setRequestHeader("Content-Type", "application/json");
	xhr.onreadystatechange = function() {
		if(xhr.readyState == 4 && xhr.status == 200) {
			console.log('###responseText:' + xhr.responseText);
			try {} catch(err) {
				console.log(err.message + " in " + xhr.responseText);
				return;
			}
			var json = this.responseText;
			document.getElementById("display").innerHTML = json;
			getContext();
		} else {
			console.log('responseText:' + xhr.responseText);
		}
	};
	xhr.send(data);
}

function getContext() {
	console.log('Ask called:');
	var xhr = new XMLHttpRequest();
	var url = "/get_pref";
	var data = JSON.stringify({
		"command": "reset"
	});
	console.log("json : " + data);
	xhr.open("POST", url, true);
	xhr.setRequestHeader("Content-Type", "application/json");
	xhr.onreadystatechange = function() {
		if(xhr.readyState == 4 && xhr.status == 200) {
			console.log('###responseText:' + xhr.responseText);
			try {} catch(err) {
				console.log(err.message + " in " + xhr.responseText);
				return;
			}
			var json = this.responseText;
			document.getElementById("context_display").innerHTML = json;
		} else {
			console.log('responseText:' + xhr.responseText);
		}
	};
	xhr.send(data);
}

function copyModel() {
	console.log("copyModel Dropdown selected");
	var dropboxvalue = document.getElementById('model_dropmenu').value;
}

function copyQuestion() {
	console.log("Dropdown selected");
	var dropboxvalue = document.getElementById('question_dropmenu').value;
	document.getElementById('user_input').value = dropboxvalue;
}

function validate_flags() {
	console.log("validating checkbox")
	var info_extract_flag = document.getElementById('info_extract').checked;
	var txt_similarity_flag = document.getElementById('txt_similarity').checked;
	console.log("validating checkbox : " + info_extract_flag + " : " + txt_similarity_flag);
	if(info_extract_flag | txt_similarity_flag) {
		if(info_extract_flag) {
			return document.getElementById('info_extract').value;
		} else if(txt_similarity_flag) {
			return document.getElementById('txt_similarity').value;
		} else {
			return 0;
		}
	} else if((info_extract_flag == false) && (txt_similarity_flag == false)) {
		return 0;
	} else {}
}

function check_radiobtn(value) {
	console.log("check_radiobtn");
	//clicked info extract radio button
	if(value == 1) {
		console.log("check_radiobtn info_extract");
		document.getElementById('txt_similarity').checked = false;
		use_info = "2";
	}
	//clicked txt similarity radio button
	if(value == 2) {
		console.log("check_radiobtn txt_similarity");
		document.getElementById('info_extract').checked = false;
		use_info = "1";
	}
}

function check_category_radio_btn(value) {
	//clicked info extract radio button
	console.log("CATEGORY RADIO BUTTON")
	var radios = document.getElementsByName('product_type');
	var product_value = 0
	for(var i = 0, length = radios.length; i < length; i++) {
		if(radios[i].checked) {
			// do whatever you want with the checked radio
			product_value = radios[i].value;
			// only one radio can be logically checked, don't check the rest
			break;
		}
	}
	// Update Questions
	document.getElementById("question_dropmenu").options.length = 0;
	//Change to category_flag
	if(value == 1) {
		category_flag = 'L1';
	} else if(value == 2) {
		category_flag = 'L2';
	}
	console.log("category_flag");
	console.log(category_flag);
	inflate_options(value, product_value);
}

function inflate_options(category, product_value) {
	console.log("inflate_options : " + category);
	var select_element = document.getElementById("question_dropmenu");
	/*if(product_value == "1") {
		switch(category) {
			case 1:
				for(question of ts_L1_q_washer) {
					var option = document.createElement("option");
					option.text = question;
					opt_option.appendChild(option);
				}
				break;
			case 2:
				console.log("ts L2 questions");
				for(question of ts_L2_q_washer) {
					var option = document.createElement("option");
					option.text = question;
					select_element.add(option);
				}
				break;
		}
	} else if(product_value == "2") {
		switch(category) {
			case 1:
				console.log("ts L1 questions");
				for(question of ts_L1_q_refrigerator) {
					var option = document.createElement("option");
					option.text = question;
					select_element.add(option);
				}
				break;
			case 2:
				console.log("ts L2 questions");
				for(question of ts_L2_q_refrigerator) {
					var option = document.createElement("option");
					option.text = question;
					select_element.add(option);
				}
				break;
		}
	} else if(product_value == "3") {
		switch(category) {
			case 1:
				console.log("ts L1 questions");
				for(question of ts_L1_q_ac) {
					var option = document.createElement("option");
					option.text = question;
					select_element.add(option);
				}
				break;
			case 2:
				console.log("ts L2 questions");
				for(question of ts_L2_q_ac) {
					var option = document.createElement("option");
					option.text = question;
					select_element.add(option);
				}
				break;
		}
	}*/

	// Adding the questions all at once (For Updated Demo)
	var opt_option = document.createElement("optgroup");
	opt_option.label = "Washing Machine";
	select_element.add(opt_option);
        for(question of ts_L1_q_washer) {
            var option = document.createElement("option");
            option.text = question;
            opt_option.appendChild(option);
        }
        for(question of ts_L2_q_washer) {
            var option = document.createElement("option");
            option.text = question;
            opt_option.appendChild(option);
        }
	var opt_option = document.createElement("optgroup");
	opt_option.label = "Refrigerator";
	select_element.add(opt_option);
        for(question of ts_L1_q_refrigerator) {
            var option = document.createElement("option");
            option.text = question;
            opt_option.appendChild(option);
        }
        for(question of ts_L2_q_refrigerator) {
            var option = document.createElement("option");
            option.text = question;
            opt_option.appendChild(option);
        }
	var opt_option = document.createElement("optgroup");
	opt_option.label = "Air Conditioner";
	select_element.add(opt_option);
        for(question of ts_L1_q_ac) {
            var option = document.createElement("option");
            option.text = question;
            opt_option.appendChild(option);
        }
        for(question of ts_L2_q_ac) {
            var option = document.createElement("option");
            option.text = question;
            opt_option.appendChild(option);
        }
    var opt_option = document.createElement("optgroup");
	opt_option.label = "Vacuum Cleaner";
	select_element.add(opt_option);
        for(question of ts_q_vacuum) {
            var option = document.createElement("option");
            option.text = question;
            opt_option.appendChild(option);
        }
    var opt_option = document.createElement("optgroup");
	opt_option.label = "Microwave Oven";
	select_element.add(opt_option);
        for(question of ts_q_oven) {
            var option = document.createElement("option");
            option.text = question;
            opt_option.appendChild(option);
        }
}

function check_product_radio_btn(value) {
	//clicked product type radio button
	console.log("PRODUCT RADIO BUTTON")
		// Update model numbers in dropdown
	document.getElementById("select_model_no").options.length = 0;;
	var select_element = document.getElementById("select_model_no");
	switch(value) {
		case 1:
			product_type = "washing machine";
			console.log("Washing machine models");
			for(model of washing_machine_models) {
				var option = document.createElement("option");
				option.text = model;
				select_element.add(option);
			}
			break;
		case 2:
			console.log("Refrigerator models");
			product_type = "refrigerator";
			for(model of refrigerator_models) {
				var option = document.createElement("option");
				option.text = model;
				select_element.add(option);
			}
			break;
		case 3:
			console.log("AC models");
			product_type = "air conditioner";
			for(model of ac_models) {
				var option = document.createElement("option");
				option.text = model;
				select_element.add(option);
			}
			break;
	}
	// Update Questions
	var radios = document.getElementsByName('question_level');
	var category_value = 0
	for(var i = 0, length = radios.length; i < length; i++) {
		if(radios[i].checked) {
			// do whatever you want with the checked radio
			category_value = radios[i].value;
			// only one radio can be logically checked, don't check the rest
			break;
		}
	}
	document.getElementById("question_dropmenu").options.length = 0;;
	inflate_options(parseInt(category_value), parseInt(value));
}

function reset_preferences() {
	console.log('Ask called:');
	var xhr = new XMLHttpRequest();
	var url = "/reset_pref";
	var data = JSON.stringify({
		"command": "reset"
	});
	console.log("json : " + data);
	document.getElementById("display").innerHTML = "Processing........";
	xhr.open("POST", url, true);
	xhr.setRequestHeader("Content-Type", "application/json");
	xhr.onreadystatechange = function() {
		if(xhr.readyState == 4 && xhr.status == 200) {
			console.log('###responseText:' + xhr.responseText);
			try {} catch(err) {
				console.log(err.message + " in " + xhr.responseText);
				return;
			}
			var json = this.responseText;
			document.getElementById("display").innerHTML = json;
			// Call the get context to show the preferences
			getContext();
		} else {
			console.log('responseText:' + xhr.responseText);
		}
	};
	xhr.send(data);
}

function modelno_changealert() {
	var model_no = document.getElementById('select_model_no').value;
	if(prev_modelno == null) {
		console.log("prev_modelno is null");
	} else {
		console.log("prev_modelno not null/empty" + prev_modelno);
		if(prev_modelno != model_no) {
			modelno_changed = true;
			console.log("prev_modelno" + prev_modelno);
			//alert("Model no has changed");
			prev_modelno = model_no;
			console.log("modelno_changed " + modelno_changed);
			return false;
		}
	}
	console.log("modelno_changed " + modelno_changed);
	prev_modelno = model_no;
}

function load_function() {
	//simulate the click event for product type and question level radio button
	document.getElementById('refrigerator').click();
	document.getElementById('L1').click();
}
</script>

<body style="font-family: Arial;" onload="inflate_options(1,1); getContext();">
	<style type="text/css">
	.blink_me {
		animation: blinker 1s linear infinite;
	}

	@keyframes blinker {
		50% {
			opacity: 0;
		}
	}

	select {
		width: 600px;
		height: 30px;
		padding: 5px 5px;
		font-size: 12px;
	}
	/* Split the screen in half */

	.split {
		height: 100%;
		position: fixed;
		z-index: 1;
		top: 0;
		overflow-x: hidden;
		padding-top: 20px;
	}
	/* Control the left side */

	.left {
		left: 0;
		width: 55%;
	}
	/* Control the right side */

	.right {
		right: 0;
		width: 45%;
	}
	</style>
	<br>
	<p style="margin-left:10px;width=100%"><font size="5"><b>LGSI India SW Lab - Q&A Test Interface</b> </font></p>
	<div class="split left" style="margin-right:100px;margin-left:10px;margin-top:70px;float:left;" style="vertical-align: baseline;">
<!--		<p><b>Product Type</b></p>
		<div>
			<input id="washing_machine" name="product_type" onclick="check_product_radio_btn(1)" type="radio" value="1">
			<label for="washing_machine">Washing machine</label>
			<input id="refrigerator" name="product_type" onclick="check_product_radio_btn(2)" required type="radio" checked="checked" value="2">
			<label for="refrigerator">Refrigerator</label>
			<input id="air_conditioner" name="product_type" onclick="check_product_radio_btn(3)" required type="radio" value="3">
			<label for="air_conditioner">Air Conditioner</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
			<button onclick="reset_preferences()" type="button">Reset Context</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="{{ url_for('.display_updatepref') }}" target="_blank">
				<button>ThinQ Settings</button>
			</a>
		<!-- <button class="open-button" onclick="openForm()">Update Preferences</button> -->
<!--		<p><b>Question Level</b></p>
		<form>
			<input id="L1" name="question_level" onclick="check_category_radio_btn(1)" type="radio" checked="checked" value="1">
			<label>L1</label>
			<input id="L2" name="question_level" onclick="check_category_radio_btn(2)" type="radio" value="2">
			<label>L2</label>
		</form>-->
<!--		<br>
		<input type="radio" id="info_extract" name="pipeline" value="1" onclick="check_radiobtn(1)">
		<label>Info Extraction</label>
		<input type="radio" id="txt_similarity" name="pipeline" value="2" onclick="check_radiobtn(2)" checked="checked">
		<label>Text similarity</label>
		<br>-->
<!--		<br>
		<label for="select_model_no"><font size="4">Select model no:</font></label>&nbsp;&nbsp;
		<select id="select_model_no" onchange="modelno_changealert()"> </select>-->
		<br>
        <br>
		<label for="question_dropmenu"><font size="4">Select a question:</font></label>&nbsp;&nbsp;
		<select id="question_dropmenu" onchange="copyQuestion()"> </select>
		<br>
		<br>
		<form id="radio_form"> </form>
		<form id="form1">
			<label><font size="4">Enter the question</font></label>
			<br>
			<br>
			<textarea cols="40" id="user_input" name="message" rows="5" style='width:800px;height:50px;font-size:18px;'> </textarea>
			<br>
			<br>
			<br> </form>
		<input name="question" onclick="draw()" style="font-family: Arial;height:40px;width:200px;margin-left:250px" type="Submit" value="Ask Question">
		<br/>
		<br>
		<br>
	</div>
	<div class="split right">
		<p style="color:#000000;font-size:18px;font-family: Arial;">Current Context</p>
		<p style="color:#000000;font-size:18px;font-family: Arial;"><span id='context_display'></span></p>
	</div>
	<br>
	<br>
		<br>
	<br>
		<br>
	<br>
		<br>
	<br>
		<br>
	<br>
		<br>
	<br>
		<br>
	<br>
		<br>
	<br>
	<p style="color:#000000;font-size:18px;font-family: Arial;"><span id='display'></span></p>
	<br> </body>

</html>