<!DOCTYPE html>
<html>
<script>
var faq_washer_q = ["","What is the loud banging noise when the water is rushing into the washer WM4500H*A?",
					"My washer does nothing when I press the button?",
					"When I press a button, why does my washer remain idle even though it beeps?",
					"Give me instruction to calculate the correct default amount for my detergent",
					"Is it okay to use powdered detergent in the ezDispense reservoirs?",
					"Is usage of powdered detergent allowed in the ezDispense reservoirs?",
					"How do I use my new detergent for my sportswear?"];
var faq_refrigerator_q = ["","Help me to set fine temperature for my refrigerator and freezer LRFDS3006*?",
					"Need some help to set temperature?",
					"Can I know how to set temperatures for refrigerator and freezer?",
					"Steps to follow  setting temperature for refrigerator and freezer?",
					"Please tell me how to set temperature for refrigerator and freezer?",
					"Could you please tell me why I am getting buzzing noise from my refrigerator?",
					"Please help me to know why my refrigerator is giving buzzing noise?",
					"My refrigerator periodically gives me a buzzing noise?",
					"Can you please tell me why my icemaker tray looks like crooked?",
					"My icemaker is looking like curved,why so?"];
var faq_oven_q = ["","is it okay to use metal pans in the microwave oven LMV2031X*?",
                    "Shall I use a rack at once cook on two levels?",					
					"Why is the dish getting hot when I microwave food inside?",
					"I want to use alumimium pans in my microwave oven, is it okay?",
					"Why do eggs break in the oven sometimes?",
					"Is popcorn in microwave oven allowed?",
					"will energy from microwaves pass through the door's viewing screen?"];
var category_flag = "L1";
var category_value = 1;
var washing_machine_models = ["", "WM4500H*A"];
var refrigerator_models = ["", "LRFDS3006*", "LRFVS3006*", "LRFVC2406*", "LRFXC2406*", "LRFDS3016*",
							"LRFXC2416*", "LRFDC2406*", "SRFVC2406*"]
var product_type = null;
var prev_modelno = null;
var modelno_changed = false;

function draw() {
	console.log('Ask called:');
	var xhr = new XMLHttpRequest();
	var url = "/ker_faq";
	var message = document.getElementById("user_input").value;
	/*var model_no = document.getElementById('select_model_no').value;
	if((model_no == null || model_no == "")) {
		alert("Please select model number");
		return false;
	}*/
	console.log('User question:' + message);
	var data = JSON.stringify({
		"question": message,
		"model": null,
		"product_type": null,
		"ques_topic": 'FAQ',
		"use_info": "1",
		"question_level": null,
		"model_change": false
	});
	console.log("json : " + data);
	document.getElementById("display").innerHTML = "Processing........";
	xhr.open("POST", url, true);
	xhr.setRequestHeader("Content-Type", "application/json");
	xhr.onreadystatechange = function() {
		if(xhr.readyState == 4 && xhr.status == 200) {
			console.log('###responseText:' + xhr.responseText);
			try {} catch(err) {
				console.log(err.message + " in " + xhr.responseText);
				return;
			}
			var json = this.responseText;
			document.getElementById("display").innerHTML = json;
			// Call the get context to show the preferences
			getContext();
			modelno_changed = false;
		} else {
			console.log('responseText:' + xhr.responseText);
		}
	};
	xhr.send(message);
}
function getContext() {
	console.log('Ask called:');
	var xhr = new XMLHttpRequest();
	var url = "/get_pref";
	var data = JSON.stringify({
		"command": "reset"
	});
	console.log("json : " + data);
	xhr.open("POST", url, true);
	xhr.setRequestHeader("Content-Type", "application/json");
	xhr.onreadystatechange = function() {
		if(xhr.readyState == 4 && xhr.status == 200) {
			console.log('###responseText:' + xhr.responseText);
			try {} catch(err) {
				console.log(err.message + " in " + xhr.responseText);
				return;
			}
			var json = this.responseText;
			document.getElementById("context_display").innerHTML = json;
		} else {
			console.log('responseText:' + xhr.responseText);
		}
	};
	xhr.send(data);
}

function copyModel() {
	console.log("copyModel Dropdown selected");
	var dropboxvalue = document.getElementById('model_dropmenu').value;
}

function copyQuestion() {
	console.log("Dropdown selected");
	var dropboxvalue = document.getElementById('question_dropmenu').value;
	document.getElementById('user_input').value = dropboxvalue;
}

function check_product_radio_btn(value) {
	//clicked product type radio button
	console.log("PRODUCT RADIO BUTTON")
		// Update model numbers in dropdown
	document.getElementById("select_model_no").options.length = 0;
	var select_element = document.getElementById("select_model_no");
	switch(value) {
		case 1:
			console.log("Washing machine models");
			product_type = "washing machine";
			for(model of washing_machine_models) {
				var option = document.createElement("option");
				option.text = model;
				select_element.add(option);
			}
			break;
		case 2:
			console.log("Refrigerator models");
			product_type = "refrigerator";
			for(model of refrigerator_models) {
				var option = document.createElement("option");
				option.text = model;
				select_element.add(option);
			}
			break;
	}
	// Update Questions
	var radios = document.getElementsByName('question_level');
	var category_value = 0
	for(var i = 0, length = radios.length; i < length; i++) {
		if(radios[i].checked) {
			// do whatever you want with the checked radio
			category_value = radios[i].value;
			// only one radio can be logically checked, don't check the rest
			break;
		}
	}
	document.getElementById("question_dropmenu").options.length = 0;;
	inflate_options(parseInt(value));
}

function inflate_options(product_value) {
	console.log("inflate_options : " + product_value);
	var select_element = document.getElementById("question_dropmenu");
	/*switch(product_value) {
		case 1:
			console.log("faq washing machine questions");
			for(question of faq_washer_q) {
				var option = document.createElement("option");
				option.text = question;
				select_element.add(option);
			}
			break;
		case 2:
			console.log("faq refrigerator questions");
			for(question of faq_refrigerator_q) {
				var option = document.createElement("option");
				option.text = question;
				select_element.add(option);
			}
			break;
	}*/
	// Adding the questions all at once (For Updated Demo)
	var opt_option = document.createElement("optgroup");
	opt_option.label = "Washing Machine";
	select_element.add(opt_option);
	for(question of faq_washer_q) {
		var option = document.createElement("option");
		option.text = question;
		opt_option.appendChild(option);
	}
	var opt_option = document.createElement("optgroup");
	opt_option.label = "Refrigerator";
	select_element.add(opt_option);
	for(question of faq_refrigerator_q) {
		var option = document.createElement("option");
		option.text = question;
		opt_option.appendChild(option);
	}
	var opt_option = document.createElement("optgroup");
	opt_option.label = "Microwave Oven";
	select_element.add(opt_option);
	for(question of faq_oven_q) {
		var option = document.createElement("option");
		option.text = question;
		opt_option.appendChild(option);
	}
}

function reset_preferences() {
	console.log('Ask called:');
	var xhr = new XMLHttpRequest();
	var url = "/reset_pref";
	var data = JSON.stringify({
		"command": "reset"
	});
	console.log("json : " + data);
	document.getElementById("display").innerHTML = "Processing........";
	xhr.open("POST", url, true);
	xhr.setRequestHeader("Content-Type", "application/json");
	xhr.onreadystatechange = function() {
		if(xhr.readyState == 4 && xhr.status == 200) {
			console.log('###responseText:' + xhr.responseText);
			try {} catch(err) {
				console.log(err.message + " in " + xhr.responseText);
				return;
			}
			var json = this.responseText;
			document.getElementById("display").innerHTML = json;
			// Call the get context to show the preferences
			getContext();
		} else {
			console.log('responseText:' + xhr.responseText);
		}
	};
	xhr.send(data);
}

function modelno_changealert() {
	var model_no = document.getElementById('select_model_no').value;
	if(prev_modelno == null) {
		console.log("prev_modelno is null");
	} else {
		console.log("prev_modelno not null/empty" + prev_modelno);
		if(prev_modelno != model_no) {
			modelno_changed = true;
			console.log("prev_modelno" + prev_modelno);
			//alert("Model no has changed");
			prev_modelno = model_no;
			console.log("modelno_changed " + modelno_changed);
			return false;
		}
	}
	console.log("modelno_changed " + modelno_changed);
	prev_modelno = model_no;
}
</script>
<style type="text/css">
	.blink_me {
	animation: blinker 1s linear infinite;
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}

select {
	width: 600px;
	height: 30px;
	padding: 5px 5px;
	font-size: 12px;
}


/* Split the screen in half */

.split {
	height: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	overflow-x: hidden;
	padding-top: 20px;
}


/* Control the left side */

.left {
	left: 0;
	width: 55%;
}


/* Control the right side */

.right {
	right: 0;
	width: 45%;
</style>

<body onload="inflate_options(1); getContext();">
	<br>
	<p style="margin-left:10px;width=100%"><font size="5"><b>LGSI India SW Lab - Q&A Test Interface</b> </font></p>
	<br>
	<div class="split left" style="margin-right:100px;margin-left:10px;margin-top:70px;float:left;" style="vertical-align: baseline;">
		<!--	<p><b>Product Type</b></p>
            <input id="washing_machine" name="product_type" onclick="check_product_radio_btn(1)" type="radio" value="1">
            <label for="washing_machine">Washing machine</label>
            <input id="refrigerator" name="product_type" onclick="check_product_radio_btn(2)" required type="radio" value="2">
            <label for="refrigerator">Refrigerator</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
		<button onclick="reset_preferences()" type="button">Reset Context</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="{{ url_for('.display_updatepref') }}" target="_blank">
			<button>ThinQ Settings</button>
		</a>
		<!--	<br>
            <br>
            <label for="select_model_no"><font size="4">Select model no:</font></label>&nbsp;&nbsp;
            <select id="select_model_no" onchange="modelno_changealert()"> </select>-->
		<br>
		<br>
		<label for="question_dropmenu"><font size="4">Select a question:</font></label>&nbsp;&nbsp;
		<select id="question_dropmenu" onchange="copyQuestion()" title="Make Your Selection"> </select>
		<br>
		<br>
		<form id="form1">
			<label><font size="4">Enter the question</font></label>
			<br>
			<br>
			<textarea cols="40" id="user_input" name="message" rows="5" style='width:800px;height:50px;font-size:18px;'> </textarea>
			<br>
			<br>
			<br> </form>
		<input name="question" onclick="draw()" style="font-family: Arial;height:40px;width:200px;margin-left:250px" type="Submit" value="Ask Question">
		<br/>
		<br>
		<br>
	</div>
	<div class="split right">
		<p style="color:#000000;font-size:18px;font-family: Arial;">Current Context</p>
		<p style="color:#000000;font-size:18px;font-family: Arial;"><span id='context_display'></span></p>
	</div>
	<br>
	<br>
		<br>
	<br>
		<br>
	<br>
		<br>
	<br>
		<br>
	<br>
		<br>
	<br>
		<br>
	<br>
		<br>
	<br>
	<p style="color:#000000;font-size:18px;font-family: Arial;"><span id='display'></span></p>
	<br> </body>

</html>