<!DOCTYPE html>
<html>
<script>
var spec_L1_q_washer = ["","what is the width of WM4500H*A?",
                        "Let me know the rated voltage ?",
                        "May I know the rated voltage ?",
                        "Could you tell  me the size ?",
                        "What are the dimensions?",
                        "Let me know the weight ?",
                        "May I know the net weight ?",
                        "Let me know the spin speed ?",
                        "I want to know the spin speed",
                        "Need some details about the spin speed"];
var spec_L2_q_washer = ["Give me some information about the maximum permissible water pressure",
                        "May I know the minimum permissible water pressure ?",
                        "I want to know the minimum  water pressure",
                        "what about lowest  water pressure ?",
                        "Give some information regarding the width",
                        "Tell me the washer width",
                        "what is the width of my product?",
                        "what is the depth with door open of my product?",
                        "what is the height of my product?"];
var spec_L3_q_washer = ["what about rated voltage ?",
                        "Let me know height of WM4500H*A in cm ",
                        "Can you tell me the water pressure in kPA of my product will operate in?",
                        "Read out water pressure in psi",
                        "What is the value of weight in kilograms?",
                        "Tell me in mm",
                        "Can you tell me the minimum water pressure in pascal of my product?",
                        "can you tell me the weight in pounds?"];
var spec_L1_q_refrigerator = ["Let me know the net weight of LRFDS3006*?",
                        "Let me know the rated voltage ?",
                        "May I know the rated voltage ?",
                        "Let me know the weight ?",
                        "May I know the weight ?"];
var spec_L2_q_refrigerator = ["Give me some information about the maximum permissible water pressure",
                        "May I know the minimum permissible water pressure ?",
                        "I want to know minimum water pressure",
                        "what about lowest water pressure ?"];
var spec_L3_q_refrigerator = ["what about the rated voltage ?",
                        "can you tell me the weight in pounds?",
                        "Tell me in kg",
                        "tell me in grams",
                        "Can you tell me the minimum water pressure in pascal of my product?", ];

var category_flag = "L1";
var category_value = 1;
var washing_machine_models = ["", "WM4500H*A"];
var refrigerator_models = ["", "LRFDS3006*", "LRFVS3006*", "LRFVC2406*", "LRFXC2406*", "LRFDS3016*", "LRFXC2416*",
							"LRFDC2406*", "SRFVC2406*"]
var product_type = null;
var prev_modelno = null;
var modelno_changed = false;

function draw() {
	console.log('Ask called:');
	var xhr = new XMLHttpRequest();
	var url = "/ker_spec";
	var message = document.getElementById("user_input").value;
	console.log('User question:' + message);
	/*var model_no = document.getElementById('select_model_no').value;
			if ((model_no == null || model_no == "")) {
			  alert("Please select model number");
			  return false;
			}*/
	var data = JSON.stringify({
		"question": message,
		"model": null,
		"product_type": null,
		"ques_topic": 'Specification',
		"use_info": "1",
		"question_level": null,
		"model_change": false
	});
	console.log("json : " + data);
	document.getElementById("display").innerHTML = "Processing........";
	xhr.open("POST", url, true);
	xhr.setRequestHeader("Content-Type", "application/json");
	xhr.onreadystatechange = function() {
		if(xhr.readyState == 4 && xhr.status == 200) {
			console.log('###responseText:' + xhr.responseText);
			try {} catch(err) {
				console.log(err.message + " in " + xhr.responseText);
				return;
			}
			var json = this.responseText;
			document.getElementById("display").innerHTML = json;
			modelno_changed = false;
			getContext();
		} else {
			console.log('responseText:' + xhr.responseText);
		}
	};
	xhr.send(data);
}

function getContext() {
	console.log('Ask called:');
	var xhr = new XMLHttpRequest();
	var url = "/get_pref";
	var data = JSON.stringify({
		"command": "reset"
	});
	console.log("json : " + data);
	xhr.open("POST", url, true);
	xhr.setRequestHeader("Content-Type", "application/json");
	xhr.onreadystatechange = function() {
		if(xhr.readyState == 4 && xhr.status == 200) {
			console.log('###responseText:' + xhr.responseText);
			try {} catch(err) {
				console.log(err.message + " in " + xhr.responseText);
				return;
			}
			var json = this.responseText;
			document.getElementById("context_display").innerHTML = json;
		} else {
			console.log('responseText:' + xhr.responseText);
		}
	};
	xhr.send(data);
}

function reset_preferences() {
	console.log('Ask called:');
	var xhr = new XMLHttpRequest();
	var url = "/reset_pref";
	var data = JSON.stringify({
		"command": "reset"
	});
	console.log("json : " + data);
	document.getElementById("display").innerHTML = "Processing........";
	xhr.open("POST", url, true);
	xhr.setRequestHeader("Content-Type", "application/json");
	xhr.onreadystatechange = function() {
		if(xhr.readyState == 4 && xhr.status == 200) {
			console.log('###responseText:' + xhr.responseText);
			try {} catch(err) {
				console.log(err.message + " in " + xhr.responseText);
				return;
			}
			var json = this.responseText;
			document.getElementById("display").innerHTML = json;
			// Call the get context to show the preferences
			getContext();
		} else {
			console.log('responseText:' + xhr.responseText);
		}
	};
	xhr.send(data);
}

function copyModel() {
	console.log("copyModel Dropdown selected");
	var dropboxvalue = document.getElementById('model_dropmenu').value;
}

function copyQuestion() {
	console.log("Dropdown selected");
	var dropboxvalue = document.getElementById('question_dropmenu').value;
	document.getElementById('user_input').value = dropboxvalue;
}

function validate_flags() {
	console.log("validating checkbox")
	var info_extract_flag = document.getElementById('L1').checked;
	var txt_similarity_flag = document.getElementById('L2').checked;
	console.log("validating checkbox : " + info_extract_flag + " : " + txt_similarity_flag);
	if(info_extract_flag | txt_similarity_flag) {
		if(info_extract_flag) {
			return document.getElementById('info_extract').value;
		} else if(txt_similarity_flag) {
			return document.getElementById('txt_similarity').value;
		} else {
			return 0;
		}
	} else if((info_extract_flag == false) && (txt_similarity_flag == false)) {
		return 0;
	} else {}
}

function check_radiobtn(value) {
	console.log("check_radiobtn");
	//clicked info extract radio button
	if(value == 1) {
		console.log("check_radiobtn info_extract");
		document.getElementById('txt_similarity').checked = false;
	}
	//clicked txt similarity radio button
	if(value == 2) {
		console.log("check_radiobtn txt_similarity");
		document.getElementById('info_extract').checked = false;
	}
}

function check_category_radio_btn(value) {
	//clicked info extract radio button
	console.log("CATEGORY RADIO BUTTON")
	var radios = document.getElementsByName('product_type');
	var product_value = 0
	for(var i = 0, length = radios.length; i < length; i++) {
		if(radios[i].checked) {
			// do whatever you want with the checked radio
			product_value = radios[i].value;
			// only one radio can be logically checked, don't check the rest
			break;
		}
	}
	// Update Questions
	document.getElementById("question_dropmenu").options.length = 0;;
	//Change to category_flag
	if(value == 1) {
		category_flag = 'L1';
	} else if(value == 2) {
		category_flag = 'L2';
	} else if(value == 3) {
		category_flag = 'L3';
	}
	console.log("category_flag");
	console.log(category_flag);
	inflate_options(value, product_value);
}

function check_product_radio_btn(value) {
	//clicked product type radio button
	console.log("PRODUCT RADIO BUTTON")
		// Update model numbers in dropdown
	document.getElementById("select_model_no").options.length = 0;;
	var select_element = document.getElementById("select_model_no");
	switch(value) {
		case 1:
			console.log("Washing machine models");
			product_type = "washing machine";
			for(model of washing_machine_models) {
				var option = document.createElement("option");
				option.text = model;
				select_element.add(option);
			}
			break;
		case 2:
			console.log("Refrigerator models");
			product_type = "refrigerator";
			for(model of refrigerator_models) {
				var option = document.createElement("option");
				option.text = model;
				select_element.add(option);
			}
			break;
	}
	// Update Questions
	var radios = document.getElementsByName('question_level');
	var category_value = 0
	for(var i = 0, length = radios.length; i < length; i++) {
		if(radios[i].checked) {
			// do whatever you want with the checked radio
			category_value = radios[i].value;
			// only one radio can be logically checked, don't check the rest
			break;
		}
	}
	document.getElementById("question_dropmenu").options.length = 0;;
	inflate_options(parseInt(category_value), parseInt(value));
}

function inflate_options(category, product_value) {
	console.log("inflate_options : " + category);
	var select_element = document.getElementById("question_dropmenu");
	/*if(product_value == "1") {
		switch(category) {
			case 1:
				console.log("spec L1 questions");
				for(question of spec_L1_q_washer) {
					var option = document.createElement("option");
					option.text = question;
					select_element.add(option);
				}
				break;
			case 2:
				console.log("SP L2 questions");
				for(question of spec_L2_q_washer) {
					var option = document.createElement("option");
					option.text = question;
					select_element.add(option);
				}
				break;
			case 3:
				console.log("SP L3 questions");
				for(question of spec_L3_q_washer) {
					var option = document.createElement("option");
					option.text = question;
					select_element.add(option);
				}
				break;
		}
	} else if(product_value == "2") {
		switch(category) {
			case 1:
				console.log("spec L1 questions");
				for(question of spec_L1_q_refrigerator) {
					var option = document.createElement("option");
					option.text = question;
					select_element.add(option);
				}
				break;
			case 2:
				console.log("SP L2 questions");
				for(question of spec_L2_q_refrigerator) {
					var option = document.createElement("option");
					option.text = question;
					select_element.add(option);
				}
				break;
			case 3:
				console.log("SP L3 questions refrigerator");
				for(question of spec_L3_q_refrigerator) {
					var option = document.createElement("option");
					option.text = question;
					select_element.add(option);
				}
				break;
		}
	}*/

	// Adding the questions all at once (For Updated Demo)
	var opt_option = document.createElement("optgroup");
	opt_option.label = "Washing Machine";
	select_element.add(opt_option);
        console.log("spec L1 questions");
        for(question of spec_L1_q_washer) {
            var option = document.createElement("option");
            option.text = question;
            opt_option.appendChild(option);
        }
        console.log("SP L2 questions");
        for(question of spec_L2_q_washer) {
            var option = document.createElement("option");
            option.text = question;
            opt_option.appendChild(option);
        }
        console.log("SP L3 questions");
        for(question of spec_L3_q_washer) {
            var option = document.createElement("option");
            option.text = question;
            opt_option.appendChild(option);
        }
	var opt_option = document.createElement("optgroup");
	opt_option.label = "Refrigerator";
	select_element.add(opt_option);
        console.log("spec L1 questions");
        for(question of spec_L1_q_refrigerator) {
            var option = document.createElement("option");
            option.text = question;
            opt_option.appendChild(option);
        }
        console.log("SP L2 questions");
        for(question of spec_L2_q_refrigerator) {
            var option = document.createElement("option");
            option.text = question;
            opt_option.appendChild(option);
        }
        console.log("SP L3 questions refrigerator");
        for(question of spec_L3_q_refrigerator) {
            var option = document.createElement("option");
            option.text = question;
            opt_option.appendChild(option);
        }


}

function modelno_changealert() {
	var model_no = document.getElementById('select_model_no').value;
	if(prev_modelno == null) {
		console.log("prev_modelno is null");
	} else {
		console.log("prev_modelno not null/empty" + prev_modelno);
		if(prev_modelno != model_no) {
			modelno_changed = true;
			console.log("prev_modelno" + prev_modelno);
			//alert("Model no has changed");
			prev_modelno = model_no;
			console.log("modelno_changed " + modelno_changed);
			return false;
		}
	}
	console.log("modelno_changed " + modelno_changed);
	prev_modelno = model_no;
}

function load_function() {
	//simulate the click event for product type and question level radio button
	document.getElementById('refrigerator').click();
	document.getElementById('L3').click();
}
</script>

<body style="font-family: Arial;" onload="inflate_options(1,1); getContext();">
	<style type="text/css">
	.blink_me {
		animation: blinker 1s linear infinite;
	}

	@keyframes blinker {
		50% {
			opacity: 0;
		}
	}

	select {
		width: 600px;
		height: 30px;
		padding: 5px 5px;
		font-size: 12px;
	}
	/* Split the screen in half */

	.split {
		height: 100%;
		position: fixed;
		z-index: 1;
		top: 0;
		overflow-x: hidden;
		padding-top: 20px;
	}
	/* Control the left side */

	.left {
		left: 0;
		width: 55%;
	}
	/* Control the right side */

	.right {
		right: 0;
		width: 45%;
	}
	</style>
	<br>
	<p style="margin-left:10px;width=100%"><font size="5"><b>LGSI India SW Lab - Q&A Test Interface </b></font></p>
	<br>
	<br>
	<div class="split left" style="margin-right:100px;margin-left:10px;margin-top:70px;float:left;" style="vertical-align: baseline;">
		<!--<p><b>Product Type</b></p>
		<input id="washing_machine" name="product_type" onclick="check_product_radio_btn(1)" type="radio" value="1">
		<label for="washing_machine">Washing machine</label>
		<input id="refrigerator" name="product_type" onclick="check_product_radio_btn(2)" required type="radio" checked="checked" value="2">
		<label for="refrigerator">Refrigerator</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
		<button onclick="reset_preferences()" type="button">Reset Context</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="{{ url_for('.display_updatepref') }}" target="_blank">
			<button>ThinQ Settings</button>
		</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<!--		<p><b>Question Level</b></p>
		<form>
			<input id="L1" name="question_level" onclick="check_category_radio_btn(1)" type="radio" value="1">
			<label>L1</label>
			<input id="L2" name="question_level" onclick="check_category_radio_btn(2)" type="radio" value="2">
			<label>L2</label>
			<input id="L3" name="question_level" onclick="check_category_radio_btn(3)" type="radio" checked="checked" value="3">
			<label>L3</label>
		</form>-->
<!--		<br>
		<br>
		<label for="select_model_no"><font size="4">Select model no:<br>(For L3, model numbers for in house products will be used.Refer model alias)</font></label>&nbsp;&nbsp;
		<select id="select_model_no" onchange="modelno_changealert()"> </select>-->
        <br>
		<br>
		<label for="question_dropmenu"><font size="4">Select a question:</font></label>&nbsp;&nbsp;
		<select id="question_dropmenu" onchange="copyQuestion()"> </select>
		<br>
		<br>
		<form id="form1">
			<label><font size="4">Enter the question</font></label>
			<br>
			<br>
			<textarea cols="40" id="user_input" name="message" rows="5" style='width:800px;height:50px;font-size:18px;'> </textarea>
			<br>
			<br>
			<br> </form>
		<input name="question" onclick="draw()" style="font-family: Arial;height:40px;width:200px;margin-left:250px" type="Submit" value="Ask Question">
		<br>
		<br>
		<br>
	</div>

	<div class="split right">
		<p style="color:#000000;font-size:18px;font-family: Arial;">Current Context</p>
		<p style="color:#000000;font-size:18px;font-family: Arial;"><span id='context_display'></span></p>
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<p style="color:#000000;font-size:18px;font-family: Arial;"><span id='display'></span></p>

	<br> </body>

</html>