<!DOCTYPE html>
<html>
<script>

var q_washer = ["",
                "F21EDD 에서 이 IE 를받는 이유는 무엇입니까?",
                "이 FE 를받는 이유는 무엇입니까 에 ?",
                "tcL 의 원인을 알려주세요 에",
                "F21EDD 세탁기가 켜지지 않는 이유는 무엇입니까?",
		"문제 UE 의 해결책은 무엇입니까 에?",
		"원인을 알려주세요 IE 의",
		"수도꼭지가 완전히 열리지 않았습니다. 어떡하죠 에? ",
		"센서가 작동하지 않을 때 어떻게 물을 멈추나요?",
		"F21RDFD 배수관이 손상되었습니다?",
		"F24WDD 세탁기로 빨래를 할 때 서랍이 열리면 어떻게해야하나요 에? ",
		"급수 필터가 막혔습니다. 어떻게 고쳐야 하나요?",
		"F24FDGD 물이 공급되는 동안 파이프에서 물이 샙니다?",
		"악취가 나는데 해결책은 무엇입니까?",
		"F21CDD 휴대폰과 제품 연결에 문제가 있는데 그 원인은 무엇인가요?",
                "S5MBC 스타일러 모델에서 에러 코드가 떠요",
                "dE의 원인은 무엇인가요?",
                "nA는 왜 발생하는 건가요?",
                "공유기에 다른 제품을 추가로 연결한 이후 n5라고 뜹니다. 해결방법을 알고 싶습니다.",
                "스타일러가 동작을 안하는데 어떻게 해야하나요?",
                "스팀이 발생하고 있습니다. 원인을 알려주세요.",
                "작동 중 소리가 나요	작동 초기에 '드르렁' 하는 소리가 나나요?"];

var category_flag = "L1";
var category_value = 1;
var washing_machine_models = ["", "WM4500H*A"];
var refrigerator_models = ["", "LRFDS3006*", "LRFVS3006*", "LRFVC2406*", "LRFXC2406*", "LRFDS3016*", "LRFXC2416*",
							"LRFDC2406*", "SRFVC2406*"]
var product_type = null;
var prev_modelno = null;
var modelno_changed = false;

function draw() {
	console.log('Ask called:');
	var xhr = new XMLHttpRequest();
	var url = "/ker";
	var message = document.getElementById("user_input").value;
	console.log('User question:' + message);
	var data = JSON.stringify({
		"question": message,
		"model": null,
		"product_type": null,
		"ques_topic": 'Specification',
		"use_info": "1",
		"question_level": null,
		"model_change": false
	});
	console.log("json : " + data);
	document.getElementById("display").innerHTML = "Processing........";
	xhr.open("POST", url, true);
	xhr.setRequestHeader("Content-Type", "application/json");
	xhr.onreadystatechange = function() {
		if(xhr.readyState == 4 && xhr.status == 200) {
			console.log('###responseText:' + xhr.responseText);
			try {} catch(err) {
				console.log(err.message + " in " + xhr.responseText);
				return;
			}
			var json = this.responseText;
			document.getElementById("display").innerHTML = json;
			modelno_changed = false;
		} else {
			console.log('responseText:' + xhr.responseText);
		}
		getContext();
	};
	xhr.send(message);
}

function getContext() {
	console.log('Ask called:');
	var xhr = new XMLHttpRequest();
	var url = "/get_pref";
	var data = JSON.stringify({
		"command": "reset"
	});
	console.log("json : " + data);
	xhr.open("POST", url, true);
	xhr.setRequestHeader("Content-Type", "application/json");
	xhr.onreadystatechange = function() {
		if(xhr.readyState == 4 && xhr.status == 200) {
			console.log('###responseText:' + xhr.responseText);
			try {} catch(err) {
				console.log(err.message + " in " + xhr.responseText);
				return;
			}
			var json = this.responseText;
			document.getElementById("context_display").innerHTML = json;
		} else {
			console.log('responseText:' + xhr.responseText);
		}
	};
	xhr.send(data);
}

function reset_preferences() {
	console.log('Ask called:');
	var xhr = new XMLHttpRequest();
	var url = "/reset_pref";
	var data = JSON.stringify({
		"command": "reset"
	});
	console.log("json : " + data);
	document.getElementById("display").innerHTML = "<p>Processing........</p>";
	xhr.open("POST", url, true);
	xhr.setRequestHeader("Content-Type", "application/json");
	xhr.onreadystatechange = function() {
		if(xhr.readyState == 4 && xhr.status == 200) {
			console.log('###responseText:' + xhr.responseText);
			try {} catch(err) {
				console.log(err.message + " in " + xhr.responseText);
				return;
			}
			var json = this.responseText;
			document.getElementById("display").innerHTML = json;
			// Call the get context to show the preferences
			getContext();
		} else {
			console.log('responseText:' + xhr.responseText);
		}
	};
	xhr.send(data);
}

function copyModel() {
	console.log("copyModel Dropdown selected");
	var dropboxvalue = document.getElementById('model_dropmenu').value;
}

function copyQuestion() {
	console.log("Dropdown selected");
	var dropboxvalue = document.getElementById('question_dropmenu').value;
	document.getElementById('user_input').value = dropboxvalue;
}

function validate_flags() {
	console.log("validating checkbox")
	var info_extract_flag = document.getElementById('L1').checked;
	var txt_similarity_flag = document.getElementById('L2').checked;
	console.log("validating checkbox : " + info_extract_flag + " : " + txt_similarity_flag);
	if(info_extract_flag | txt_similarity_flag) {
		if(info_extract_flag) {
			return document.getElementById('info_extract').value;
		} else if(txt_similarity_flag) {
			return document.getElementById('txt_similarity').value;
		} else {
			return 0;
		}
	} else if((info_extract_flag == false) && (txt_similarity_flag == false)) {
		return 0;
	} else {}
}

function check_radiobtn(value) {
	console.log("check_radiobtn");
	//clicked info extract radio button
	if(value == 1) {
		console.log("check_radiobtn info_extract");
		document.getElementById('txt_similarity').checked = false;
	}
	//clicked txt similarity radio button
	if(value == 2) {
		console.log("check_radiobtn txt_similarity");
		document.getElementById('info_extract').checked = false;
	}
}

function check_category_radio_btn(value) {
	//clicked info extract radio button
	console.log("CATEGORY RADIO BUTTON")
	var radios = document.getElementsByName('product_type');
	var product_value = 0
	for(var i = 0, length = radios.length; i < length; i++) {
		if(radios[i].checked) {
			// do whatever you want with the checked radio
			product_value = radios[i].value;
			// only one radio can be logically checked, don't check the rest
			break;
		}
	}
	// Update Questions
	document.getElementById("question_dropmenu").options.length = 0;;
	//Change to category_flag
	if(value == 1) {
		category_flag = 'L1';
	} else if(value == 2) {
		category_flag = 'L2';
	} else if(value == 3) {
		category_flag = 'L3';
	}
	console.log("category_flag");
	console.log(category_flag);
	inflate_options(value, product_value);
}

function check_product_radio_btn(value) {
	//clicked product type radio button
	console.log("PRODUCT RADIO BUTTON")
		// Update model numbers in dropdown
	document.getElementById("select_model_no").options.length = 0;;
	var select_element = document.getElementById("select_model_no");
	switch(value) {
		case 1:
			console.log("Washing machine models");
			product_type = "washing machine";
			for(model of washing_machine_models) {
				var option = document.createElement("option");
				option.text = model;
				select_element.add(option);
			}
			break;
		case 2:
			console.log("Refrigerator models");
			product_type = "refrigerator";
			for(model of refrigerator_models) {
				var option = document.createElement("option");
				option.text = model;
				select_element.add(option);
			}
			break;
	}
	// Update Questions
	var radios = document.getElementsByName('question_level');
	var category_value = 0
	for(var i = 0, length = radios.length; i < length; i++) {
		if(radios[i].checked) {
			// do whatever you want with the checked radio
			category_value = radios[i].value;
			// only one radio can be logically checked, don't check the rest
			break;
		}
	}
	document.getElementById("question_dropmenu").options.length = 0;;
	inflate_options(parseInt(category_value), parseInt(value));
}

function inflate_options(category, product_value) {
	console.log("inflate_options : " + category);
	var select_element = document.getElementById("question_dropmenu");
	getContext()
	/*if(product_value == "1") {
		switch(category) {
			case 1:
				console.log("spec L1 questions");
				for(question of spec_L1_q_washer) {
					var option = document.createElement("option");
					option.text = question;
					select_element.add(option);
				}
				break;
			case 2:
				console.log("SP L2 questions");
				for(question of spec_L2_q_washer) {
					var option = document.createElement("option");
					option.text = question;
					select_element.add(option);
				}
				break;
			case 3:
				console.log("SP L3 questions");
				for(question of spec_L3_q_washer) {
					var option = document.createElement("option");
					option.text = question;
					select_element.add(option);
				}
				break;
		}
	} else if(product_value == "2") {
		switch(category) {
			case 1:
				console.log("spec L1 questions");
				for(question of spec_L1_q_refrigerator) {
					var option = document.createElement("option");
					option.text = question;
					select_element.add(option);
				}
				break;
			case 2:
				console.log("SP L2 questions");
				for(question of spec_L2_q_refrigerator) {
					var option = document.createElement("option");
					option.text = question;
					select_element.add(option);
				}
				break;
			case 3:
				console.log("SP L3 questions refrigerator");
				for(question of spec_L3_q_refrigerator) {
					var option = document.createElement("option");
					option.text = question;
					select_element.add(option);
				}
				break;
		}
	}*/

	// Adding the questions all at once (For Updated Demo)
	var opt_option = document.createElement("optgroup");
	opt_option.label = "Washing Machine";
	select_element.add(opt_option);
        console.log("Washer questions");
        console.log("TS L2 questions");
        for(question of q_washer) {
            var option = document.createElement("option");
            option.text = question;
            opt_option.appendChild(option);
        }

	/* var opt_option = document.createElement("optgroup");
	opt_option.label = "Refrigerator";
	select_element.add(opt_option);
        console.log("spec L1 questions");
        for(question of spec_L1_q_refrigerator) {
            var option = document.createElement("option");
            option.text = question;
            opt_option.appendChild(option);
        }
        console.log("SP L2 questions");
        for(question of spec_L2_q_refrigerator) {
            var option = document.createElement("option");
            option.text = question;
            opt_option.appendChild(option);
        }
        console.log("SP L3 questions refrigerator");
        for(question of spec_L3_q_refrigerator) {
            var option = document.createElement("option");
            option.text = question;
            opt_option.appendChild(option);
        }        
        console.log("TS L1 questions refrigerator");
        for(question of ts_L1_q_refrigerator) {
            var option = document.createElement("option");
            option.text = question;
            opt_option.appendChild(option);
        }
        console.log("TS L2 questions refrigerator");
        for(question of ts_L2_q_refrigerator) {
            var option = document.createElement("option");
            option.text = question;
            opt_option.appendChild(option);
        }
        console.log("OP L1 questions refrigerator");
        for(question of op_L1_q_refrigerator) {
            var option = document.createElement("option");
            option.text = question;
            opt_option.appendChild(option);
        }
        console.log("OP L2 questions refrigerator");
        for(question of op_L2_q_refrigerator) {
            var option = document.createElement("option");
            option.text = question;
            opt_option.appendChild(option);
        }

	var opt_option = document.createElement("optgroup");
	opt_option.label = "Air Conditioner";
	select_element.add(opt_option);
	    console.log("TS L1 questions AC");
        for(question of ts_L1_q_ac) {
            var option = document.createElement("option");
            option.text = question;
            opt_option.appendChild(option);
        }       
	    console.log("TS L2 questions AC");
        for(question of ts_L2_q_ac) {
            var option = document.createElement("option");
            option.text = question;
            opt_option.appendChild(option);
        }

    var opt_option = document.createElement("optgroup");
	opt_option.label = "Vaccum cleaner";
	select_element.add(opt_option);

        for(question of spec_q_vacuum) {
            var option = document.createElement("option");
            option.text = question;
            opt_option.appendChild(option);
        }
        for(question of ts_q_vacuum) {
            var option = document.createElement("option");
            option.text = question;
            opt_option.appendChild(option);
        }

		var opt_option = document.createElement("optgroup");
	    opt_option.label = "Microwave Oven";
		select_element.add(opt_option);
        for(question of spec_q_oven) {
            var option = document.createElement("option");
            option.text = question;
            opt_option.appendChild(option);
        }
        for(question of ts_q_oven) {
            var option = document.createElement("option");
            option.text = question;
            opt_option.appendChild(option);
        }
    	var opt_option = document.createElement("optgroup");
		opt_option.label = "Dishwasher";
		select_element.add(opt_option);
		console.log("Spec questions Dishwasher");
		for(question of spec_q_dishwasher) {
            var option = document.createElement("option");
            option.text = question;
            opt_option.appendChild(option);
        }
	    console.log("TS L1 questions Dishwasher");
        for(question of ts_L1_q_dishwasher) {
            var option = document.createElement("option");
            option.text = question;
            opt_option.appendChild(option);
        }       
	    console.log("TS L2 questions Dishwasher");
        for(question of ts_L2_q_dishwasher) {
            var option = document.createElement("option");
            option.text = question;
            opt_option.appendChild(option);
        }    */

}


function modelno_changealert() {
	var model_no = document.getElementById('select_model_no').value;
	if(prev_modelno == null) {
		console.log("prev_modelno is null");
	} else {
		console.log("prev_modelno not null/empty" + prev_modelno);
		if(prev_modelno != model_no) {
			modelno_changed = true;
			console.log("prev_modelno" + prev_modelno);
			//alert("Model no has changed");
			prev_modelno = model_no;
			console.log("modelno_changed " + modelno_changed);
			return false;
		}
	}
	console.log("modelno_changed " + modelno_changed);
	prev_modelno = model_no;
}

function load_function() {
	//simulate the click event for product type and question level radio button
	document.getElementById('refrigerator').click();
	document.getElementById('L3').click();
}
</script>

<body style="font-family: Arial;" onload="inflate_options(1,1);">
	<style type="text/css">
	.blink_me {
		animation: blinker 1s linear infinite;
	}

	@keyframes blinker {
		50% {
			opacity: 0;
		}
	}

	select {
		width: 600px;
		height: 30px;
		padding: 5px 5px;
		font-size: 12px;
	}
	/* Split the screen in half */

	.split {
		height: 100%;	
		z-index: 1;
		top: 0;
		overflow-x: hidden;
		padding-top: 20px;
	}
	/* Control the left side */

	.left {
		left: 0;
		width: 55%;
	}
	/* Control the right side */

	.right {
		right: 0;
		width: 35%;
	}
	</style>
	<br>
	<p style="margin-left:10px;width=100%"><font size="5"><b>LGSI India SW Lab - Q&A Test Interface </b></font></p>
	<br>

	<div style="margin-right:100px;margin-left:10px;margin-top:5px;float:left;" style="vertical-align:">
		<!--<p><b>Product Type</b></p>
		<input id="washing_machine" name="product_type" onclick="check_product_radio_btn(1)" type="radio" value="1">
		<label for="washing_machine">Washing machine</label>
		<input id="refrigerator" name="product_type" onclick="check_product_radio_btn(2)" required type="radio" checked="checked" value="2">
		<label for="refrigerator">Refrigerator</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
		<!-- <button onclick="reset_preferences()" type="button">Reset Context</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="{{ url_for('.display_updatepref') }}" target="_blank">
			<button>ThinQ Settings</button>
		</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
<!--		<p><b>Question Level</b></p>
		<form>
			<input id="L1" name="question_level" onclick="check_category_radio_btn(1)" type="radio" value="1">
			<label>L1</label>
			<input id="L2" name="question_level" onclick="check_category_radio_btn(2)" type="radio" value="2">
			<label>L2</label>
			<input id="L3" name="question_level" onclick="check_category_radio_btn(3)" type="radio" checked="checked" value="3">
			<label>L3</label>
		</form>-->
<!--		<br>
		<br>
		<label for="select_model_no"><font size="4">Select model no:<br>(For L3, model numbers for in house products will be used.Refer model alias)</font></label>&nbsp;&nbsp;
		<select id="select_model_no" onchange="modelno_changealert()"> </select>-->
		<label for="question_dropmenu"><font size="4">Select a question:</font></label>&nbsp;&nbsp;
		<select id="question_dropmenu" onchange="copyQuestion()"> </select>
		<br>
		<br>
		<br>
		<form id="form1">
			<label><font size="4">Enter the question</font></label>
			<br>
			<br>
			<textarea cols="40" id="user_input" name="message" rows="5" style='width:600px;height:50px;font-size:18px;'> </textarea>
			<br>
			<br>
			<br> </form>
		<input name="question" onclick="draw()" style="font-family: Arial;height:40px;width:200px;margin-left:250px" type="Submit" value="Ask Question">
		<br>
		<br>
		<br>
		<br>
		<div id='display'></div>
	</div>
<!--
	<div class="split right" style="margin-left:10px;float:right;margin-top:5px;vertical-align: baseline;">
		<p style="color:#000000;font-size:18px;font-family: Arial;">Current Context</p>
		<p style="color:#000000;font-size:18px;font-family: Arial;"><span id='context_display'></span></p>
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
<br>
	<br>
	<br>
	<br>
	<br>
	<br>
		<br>
	<br>
	<br><p style="color:#000000;font-size:18px;font-family: Arial;">-->

	<br> </body>

</html>